# Auto detect text files and perform LF normalization
* text=auto
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>SOS DAN.copy</title>
<div>{ width:400px;height:110px;text-align:center}
<body>
  <h1 style="text-align:center">あなたは 0030000 人目の訪問者です</h1>
  <p></p>
  </body>


<a herf="http://www.haruhi.tv/">
